


































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































.list-circle li:before {
	top: 6px;
	font-size: 10px;
}

.list-circle li:before {
	content: "\f111";
}

.list-angle-right li:before {
	content: "\f105";
}

.list-arrow li:before {
	content: "\f0da";
}

.list-check li:before {
	content: "\f00c";
}

.list-checked li:before {
	content: "\f046";
}

.list-check-circle li:before {
	content: "\f058";
}

.list-chevron-circle li:before {
	content: "\f138";
}

.list-arrow-circle li:before {
	content: "\f0a9";
}

.list-times-circle li:before {
	content: "\f057";
}




































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































.sx-icon-box-lg.radius,
.sx-icon-box-md.radius,
.sx-icon-box-sm.radius,
.sx-icon-box-xs.radius {
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}

.sx-icon-box-xld i,
.sx-icon-box-xl i,
.sx-icon-box-lg i,
.sx-icon-box-md i,
.sx-icon-box-sm i,
.sx-icon-box-xs i {
	vertical-align: middle;
}

.sx-icon-box-xld i {
	font-size: 100px;
}

.sx-icon-box-xl i {
	font-size: 80px;
}

.sx-icon-box-lg i {
	font-size: 60px;
}

.sx-icon-box-md i {
	font-size: 45px;
}

.sx-icon-box-sm i {
	font-size: 30px;
}

.sx-icon-box-xs i {
	font-size: 20px;
}

.sx-icon-box-xld img,
.sx-icon-box-xl img,
.sx-icon-box-lg img,
.sx-icon-box-md img,
.sx-icon-box-sm img,
.sx-icon-box-xs img {
	vertical-align: middle;
	max-width: 100%;
	width: auto;
}

.sx-icon-box-xld img {
	height: 90px;
}

.sx-icon-box-xl img {
	height: 80px;
}

.sx-icon-box-lg img {
	height: 55px;
}

.sx-icon-box-md img {
	height: 40px;
}

.sx-icon-box-sm img {
	height: 30px;
}

.sx-icon-box-xs img {
	height: 20px;
}


/*-------------------------------------
	Borde
















}

.bdr-gray-light {
	border-color: #eeeeee;
}

.bdr-gray-dark {
	border-color: #333333;
}

.bdr-solid {
	border-style: solid;
}

.bdr-dot {
	border-style: dotted;
}

.bdr-dash {
	border-style: dashed;
}

.bdr-1 {
	border-width: 1px;
}

.bdr-2 {
	border-width: 2px;
}

.bdr-3 {
	border-width: 3px;
}

.bdr-4 {
	border-width: 4px;
}

.bdr-5 {
	border-width: 5px;
}

.bdr-l-1 {
	border-width: 0px 0px 0px 1px;
}

.bdr-r-1 {
	border-width: 0px 1px 0px 0px;
}

.bdr-t-1 {
	border-width: 1px 0px 0px 0px;
}

.bdr-b-1 {
	border-width: 0px 0px 1px 0px;
}

.bdr-l-2 {
	border-width: 0px 0px 0px 2px;
}

.bdr-r-2 {
	border-width: 0px 2px 0px 0px;
}

.bdr-t-2 {
	border-width: 2px 0px 0px 0px;
}

.bdr-b-2 {
	border-width: 0px 0px 2px 0px;
}

.bdr-l-3 {
	border-width: 0px 0px 0px 3px;
}

.bdr-r-3 {
	border-width: 0px 3px 0px 0px;
}

.bdr-t-3 {
	border-width: 3px 0px 0px 0px;
}

.bdr-b-3 {
	border-width: 0px 0px 1px 0px;
}

.bdr-l-4 {
	border-width: 0px 0px 0px 4px;
}

.bdr-r-4 {
	border-width: 0px 4px 0px 0px;
}

.bdr-t-4 {
	border-width: 4px 0px 0px 0px;
}

.bdr-b-4 {
	border-width: 0px 0px 4px 0px;
}



















































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































/*-------------------------------------
	Title separators 
-------------------------------------*/
.sx-separator-outer {	overflow:hidden;}


.sx-separator{	
	display:inline-block;
	margin-top:0px;
	border:1px solid #ebebeb;
	
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;

}


.sep-line-one{	
	position:relative;
}


.sep-line-one:after,
.sep-line-one:before{
	-moz-transition: width 0.3s ease-in-out;
	-o-transition: width 0.3s ease-in-out;
	-webkit-transition: width 0.3s ease-in-out;
	transition: width 0.3s ease-in-out;
}

.sep-line-one:after,
.sep-line-one:before{position: absolute;	content: '';	background-color: #000;	height: 4px;}
.sep-line-one:after{width: 20px;	right: -40px;	top: 50%; margin-top:-2px;}
.sep-line-one:before{width:20px;	left: -40px;	top: 50%; margin-top:-2px;}

.section-head:hover .sep-line-one:after{width: 35px;}
.section-head:hover .sep-line-one:before{width: 35px;}


/*Separator defualt*/

.sx-separator-outer.separator-left{text-align:left;}
.sx-separator-outer.separator-right{text-align:right;}
.sx-separator-outer.separator-center{text-align:center}

.sx-separator-outer.separator-left .sep-line-one{padding:20px 60px 20px 20px;font-size:42px; font-weight:800;}
.sx-separator-outer.separator-left .sep-line-one:after{width: 20px;	right: 20px;	top: 50%; margin-top:-2px;}

.sx-separator-outer.separator-right .sep-line-one{padding:20px 20px 20px 60px; font-size:42px; font-weight:800;}
.sx-separator-outer.separator-right .sep-line-one:before{width: 20px;	left: 20px;	top: 50%; margin-top:-2px;}

.sx-separator-outer.separator-center .sep-line-one{padding:20px 60px 20px 60px; font-size:42px; font-weight:800;}
.sx-separator-outer.separator-center .sep-line-one:before{width: 20px;	left: 20px;	top: 50%; margin-top:-2px;}
.sx-separator-outer.separator-center .sep-line-one:after{width: 20px;	right: 20px;	top: 50%; margin-top:-2px;}


.section-head:hover .sx-separator-outer .sep-line-one:after{width: 35px;}
.section-head:hover .sx-separator-outer .sep-line-one:before{width: 35px;}


@media only screen and (max-width: 768px){
.sx-separator h1,
.sx-separator h2,
.sx-separator h3{	
	font-size:24px;
	margin-bottom:0px;
}
.sx-separator{margin-bottom:0px;}	

.sx-separator-outer.separator-left .sep-line-one{padding:10px 60px 10px 20px;font-size:26px; font-weight:700;}
.sx-separator-outer.separator-right .sep-line-one{padding:10px 20px 10px 60px; font-size:26px; font-weight:700;}
.sx-separator-outer.separator-center .sep-line-one{padding:10px 60px 10px 60px; font-size:26px; font-weight:700;}
}

@media only screen and (max-width: 640px){
.sx-separator-outer.separator-left{text-align:left;}
.sx-separator-outer.separator-right{text-align:left;}
.sx-separator-outer.separator-center{text-align:left;}
}

@media only screen and (max-width: 540px){
.sx-separator-outer.separator-center .sep-line-one{padding:20px 50px 14px 50px; letter-spacing:inherit;}
}

/*-------------------------------------
	Deviders 
-------------------------------------*/

.sx-divider {
	height: 1px;
	position: relative;
	margin: 30px 0;
}

.sx-divider.divider-2px {
	height: 2px;
}

.sx-divider.divider-3px {
	height: 3px;
}

.sx-divider.divider-4px {
	height: 4px;
}




























































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































/*-------------------------------------
	 Loading 
-------------------------------------*/


/*loading - 1*/

.loading-area {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9999;
	overflow: hidden;
}

.loading-box {
	width: 100%;
	height: 100%;
	background-color: #23252d;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 1;
	z-index: 9999;
}

.loading-pic {
	width: 100%;
	position: absolute;
	top: 50%;
	z-index: 99999;
	text-align: center;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}


/*loading - 2*/

.loading-cover,
.loading-srh-bar,
.loading-map {
	background: rgba(255, 255, 255, 0.8);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.loading-cover .fa-spinner,
.loading-srh-bar .fa-spinner,
.loading-map .fa-spinner {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -10px;
	font-size: 25px;
	color: #333;
}


/*-------------------------------------
	Widgets 
-------------------------------------*/

.widget {
	margin-bottom: 40px;
}

.widget-title {
	margin: 0 0 25px;
}

.widget-title {
	margin-bottom: 20px;
}

.recent-posts-entry ul {
	margin: 0;
	list-style: none;
	padding: 0;
}


/* widget listing*/

.widget_services ul {
	list-style: none;
	margin-bottom: 0;
}

.widget_services ul li {
	margin-bottom: 13px;
	border-bottom: 1px solid #e7e7e7;
	position: relative;

















































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































/*-------------------------------------
	inner page banner 
-------------------------------------*/

.sx-bnr-inr {
	height: 500px;
	background-position: center center;
	display: table;
	width: 100%;
	
	-webkit-background-size: cover; 
	-moz-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover; 
	background-attachment: fixed;
}

.sx-bnr-inr .container {
	display: table;
	height: 100%;
}

.sx-bnr-inr-entry {
	display: table-cell;
	vertical-align: bottom;
	text-align: left;
	position: relative;
	z-index: 1;
	vertical-align:bottom;
	width:100%;
	padding-bottom:30px;
}

.sx-bnr-inr-entry .banner-title-outer {
	position: relative;
	margin-bottom:20px;
}

.sx-bnr-inr-entry .banner-title-outer h2{
	margin-top: 0px;
	margin-bottom:20px;
	color: #fff;
	font-size:50px;
	font-weight: 800;
	letter-spacing: 0px;
}
.sx-bnr-inr-entry .banner-title-outer p{
	color:#fff;
	max-width:555px;
	width:100%;	
}


@media only screen and (max-width: 640px) {
	.sx-bnr-inr-entry .banner-title-name h1,
	.sx-bnr-inr-entry .banner-title-name h2,
	.sx-bnr-inr-entry .banner-title-name h3 {
    font-size: 26px;
    margin-bottom: 10px;
	}
}

.banner-inner-row h1,
.banner-inner-row h2,
.banner-inner-row h3,
.banner-inner-row h4,
.banner-inner-row h5,
.banner-inner-row h6 {
	color: #FFF;
}


/*____SLIDER
======================================*/


/*-------------------------------------
	owl slider 
-------------------------------------*/






























































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































.nav-pills>li>a,
.pager li>a,
.pager li>span,
.well,
.alert,
.list-group-item:first-child,
.list-group-item:last-child,
.input-group-addon,
.btn-group-divides>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle),
.btn-group-divides>.btn:last-child:not(:first-child),
.btn-group>.dropdown-toggle:not(:first-child),
.sx-booking-form .sx-extra-services li .sx-icon-box-lg,
.sx-booking-form .sx-extra-services li.active .sx-icon-box-lg:after,
.searchform input[type="text"],
.searchform input[type="submit"],
ol.comment-list li.comment .comment-body {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}


/*------------------------------------- 
	transition 
-------------------------------------*/

a,
.btn,
.form-control,
.overlay-bx,
.overlay-icon li a i,
.sx-icon-box-xld,
.sx-icon-box-xl,
.sx-icon-box-lg,
.sx-icon-box-md,
.sx-icon-box-sm,
.sx-icon-box-xs,
.share-social-bx li,
.indicator,
.profile-menu ul li,
.staff-member .member-done,
.how-sx-work .sx-box .shadow-bx img,
.how-sx-work .sx-box .step-no-bx,
.sx-info-has,
.sx-we-find .sx-box,
.navbar-toggler,
.logo-header,
.header-nav .nav>li>a,
.extra-nav,
.acod-head .indicator .fa {
	-webkit-transition: 
































































































































































































































































































































































































































































































































































































































































































	display: flex;
	justify-content: end;
	flex-wrap: inherit;
	position:relative;
}
#search .input-group:after{
    content: '';
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    width: 22px;
    height: 20px;
    left: -10px;
    bottom: -10px;
    position: absolute;
}

#search .input-group:before{
    content: '';
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
    width: 22px;
    height: 20px;
    right: -10px;
    top: -10px;
    position: absolute;
}

#search form {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -51px;
    width: 40%;
    margin-left: 30%;
    font-size: 22px;
    font-weight: 300;
    text-align: left;
    outline: none;
    padding: 10px;
    border-radius: 0px;
	background-color: #282b34;

}

#search input[type="search"] {
	width: 100%;
	background: none;
	border: none;
	padding: 0px 12px;
	outline:none;
	 color: #fff;
}

#search .search-btn {
	border: none;
	background: none;
	padding: 0px 30px;
	outline:none;
	color: #fff;
}

#search .search-btn i {
	font-size: 24px;
}

#search .close {
	position: fixed;
	top: 15px;
	right: 15px;
	opacity: 1;
	font-size: 27px;
	color: #fff;
	width: 30px;
	height: 30px;
}

#search .close:after,